@font-face {
  font-family: 'Capriola';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/wXKoE3YSppcvo1PDlk_7JeQ.ttf) format('truetype');
}

/*This file was exported by "Export WP Page to Static HTML" plugin which created by ReCorp (https://myrecorp.com) */